<h2>Hello, <%= @user.presentation %></h2>
<% if @user.admin %>
    <p>You Have Admin Access</p>
<% end %>

<h4><%= link_to "Your Narratives:", user_narratives_path(@user) %></h4>
<ul>
    <% @user.narratives.each do |narrative| %>
        <li><%= link_to narrative.title, narrative_path(narrative) %></li>
    <% end %>
</ul>
<br>
<% if found_user_is_logged_in %>
    <% if @new_narrative.errors.any? %>
        <ul>
            <% @new_narrative.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <h3>Create a New Narrative:</h3>
    <%= form_for @new_narrative do |f| %>
        <label>Title:</label>
        <%= f.text_field :title %>
        
        <%= f.submit "Create Narrative" %>
    <% end %>
    <br>
<% end %>
<br>
<%= form_for @user, method: "delete" do %>
    <%= submit_tag "Delete Account" %>
<% end %>
<br>