<h1>Welcome to the Branching Narrative Creator!</h1>
<p>The goal: make creating branched narratives simple.</p>
  
<% if name = session[:name] %>
  <p>Welcome <%= name -%>! We know who you are thanks to Omniauth!</p>
  <p>You were authenticated by  <%= session[:omniauth_data]['provider'] %></p>

  The raw data returned from Omniauth were:
  <pre>
    <%= session[:omniauth_data] %>
  </pre>
  <br>
  <%= link_to "Log out", logout_path, method: :delete %>
<% else %>
  <p><%= link_to "Sign in", "/auth/developer" %> to continue or <%= link_to "Sign Up", "/signup" %> to get started.</p>  
  
  <p>Or ry <%= link_to 'Signing in with the GitHub strategy', '/auth/github'%>.</p>
<% end %>
