<%= form_for @narrative do |f| %>
    <% if @narrative.errors.any? %>
        <p>Errors:</ul>
        <ul>
            <% @narrative.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <label>Title:</label>
    <%= f.text_field :title %><br>
    <label>Public?</label>
    <%= f.check_box :is_public %>

    <h3>Create a New Root Document for this Narrative:</h3>
    <%= f.fields_for :root_documents, @narrative.root_documents.build do |root_documents_fields| %>
        <label>Title:</label>
        <%= root_documents_fields.text_field :title %>
        <label>Passage:</label>
        <%= root_documents_fields.text_field :passage %>
    <% end %>
    <%= f.submit "#{@prefix} Narrative" %>
<% end %>