<h1><%= link_to @document.narrative.title, narrative_path(@document.narrative) %></h1>
<h5>Author: <%= @document.author_name %></h5>
<h2><%= @document.title %></h2>
<p><%= @document.passage %></p>

<% if @user_can_edit %>
    <% if @document.is_root %>
        <p>Is Root Document</p>
        <h4>Create Parallel Root Document</h4>
        
        <% if @new_parallel_root_doc.errors.any? %>
            <ul>
                <% @new_parallel_root_doc.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>        
                <% end %>
            </ul>
        <% end %>
        
        <%= form_for @new_parallel_root_doc do |f| %>
            <label>Title:</label>
            <%= f.text_field :title %>
            <label>Passage:</label>
            <%= f.text_area :passage %>
            <%= f.hidden_field :narrative_id, value: @document.narrative.id %>
            <%= f.hidden_field :is_root, value: "true" %>

            <%= f.submit "Create Parallel Root Document" %>
        <% end %>
    <% else %>
        <h3>Prior Choices that can Lead to this Outcome:</h3>
        <ul>
            <% @document.parent_documents.each do |parent_document| %>
                <li><%= link_to parent_document.title, document_path(parent_document) %></li>
            <% end %>
        </ul>

        <h4>Associate this Outcome with an Existing Prior Choice:</h4>

        <%= form_for @new_parent_branch do |f| %>
            <label>Select a parent document for this document:</label>
            <%= f.collection_select :parent_document_id, @document.eligible_parent_documents || [], :id, :title %>
            <%= f.hidden_field :child_document_id, value: @document.id %>
            <%= f.submit "Create a new Parent Document (via a new parent Branch)" %>
        <% end %>
    <% end %>
<% end %>

<h3>Choices:</h3>
<ol>
    <% @document.child_documents.each do |child_document| %>
        <li><%= link_to child_document.title, document_path(child_document) %></li>
    <% end %>
</ol>

<% if @user_can_edit %>
    <% if @new_child_branch.child_document.errors.any? %>
        <ul>
            <% @new_child_branch.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <h4>Create a new Child Document (via a new Child Branch):</h4>

    <%= form_for @new_child_branch do |f| %>
        <%= f.fields_for :child_document_attributes, @new_child_branch.child_document do |child_document_fields| %>
            <label>Title:</label>
            <%= child_document_fields.text_field :title %>
            <label>Passage:</label>
            <%= child_document_fields.text_area :passage %>
            <%= child_document_fields.hidden_field :narrative_id, value: @document.narrative.id %>
        <% end %>

        <%= f.hidden_field :parent_document_id, value: @document.id %>

        <%= f.submit "Create New Child Document" %>
    <% end %>
    <br>
    
    <!-- TODO: allow creation of a new parent branch? -->

    <%= form_with(url: "/documents/#{@document.id}", method: "delete") do %>
        <%= submit_tag "Delete Document" %>
    <% end %>
    <p>Warning! Deleting this document will also delete all of its child branches!</p>
<% end %>