<!DOCTYPE html>
<html>
  <head>
    <title>Branching Narrative Creator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to the Branching Narrative Creator!</h1>
    <p>The goal: make creating branched narratives simple.</p>
    
    <% if logged_in %>
      <%= link_to "My Profile", user_path(current_user) %>
      <%= link_to "Browse Narratives", narratives_path %>
      <%= link_to "View my Narratives", user_narratives_path(current_user) %>
      <%= link_to "Create a New Narrative!", new_narrative_path %>
      <% if current_user.admin %>
        <%= link_to "Browse All Documents", documents_path %>
        <%= link_to "View Users", users_path %>
      <% end %>
    <% end %>

    <%= yield %>

    <% if logged_in %>
      <%= link_to "Sign Out", signout_path, method: :delete %>
    <% end %> 
    
  </body>
</html>
